name: Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          source ./venv/bin/activate
          kubectl exec -n mlflow mlflow-8557c6955d-q8qfp -- \
            nohup mlflow models serve \
            -m /path/to/model/in/pod \
            --host 0.0.0.0 \
            --port 8080 \
            --no-conda > /tmp/mlflow_serve.log 2>&1 &
